<footer class="SiteFooter">
    <div class="SiteFooter__Info">
        St. Mark Reformed Church is a member of the <a href="https://crechurches.org/" target="_blank">Communion of Reformed Evangelical Churches</a>.
    </div>
    <div class="SiteFooter__Credits">
        <div class="SiteFooter__CreditItem">
            <a href="https://buzzingpixel.com/" target="_blank">Designed and Developed by TJ Draper, BuzzingPixel, LLC</a>
        </div>
        <div class="SiteFooter__CreditItem">
            <a href="http://officinaabrahae.com/" target="_blank">Logo by Abe Goolsby, Officina Abrahae</a>
        </div>
    </div>
    <div class="SiteFooter__Copyright">
        <div class="SiteFooter__CopyrightItem">
            Copyright &copy; {{ now.year }}, St. Mark Reformed Church
        </div>
        <div class="SiteFooter__CopyrightItem">
            All rights reserved
        </div>
    </div>
</footer>
