{% set heroImageAsset = heroImageAsset|default(general.defaultHeroImage.one()) %}
{% set heroHeading = heroHeading|default(false) %}
{% set heroSubheading = heroSubheading|default(false) %}

<header class="SiteHeader JSSiteHeader" data-mobile-menu-open-class="SiteNav--MobileMenuIsOpen">
    <nav class="SiteNav">
        <a href="/" class="SiteNav__Logo">
            <span class="SiteNav__LogoText">St. Mark Reformed Church</span>
        </a>
        <a href="#" class="SiteNav__Hamburger JSMobileMenuActivator" data-active-class="SiteNav__Hamburger--IsActive">
            <span class="SiteNav__HamburgerInner"></span>
            <span class="SiteNav__HamburgerDescription">
                Open Mobile Menu
            </span>
        </a>
        <ul class="SiteNav__List JSNavList">
            {% for nav in navArray() %}
                {% set linkClass = 'SiteNav__Link JSMobileMenuCloseAction' %}
                {% if siteUrl ~ craft.app.request.getSegment(1) == nav.model.url %}
                    {% set linkClass = linkClass ~ ' SiteNav__Link--IsActive' %}
                {% endif %}
                {% include '_partials/SiteHeaderNav' with nav|merge({
                    liClass: 'SiteNav__ListItem',
                    liSubNavClass: 'JSSiteNav__HasSubMenu',
                    liNoSubNavClass: 'JSSiteNav__HasNoSubMenu',
                    liData: {
                        'sub-nav-open-class': 'SiteNav__ListItem--SubNavIsActive',
                    },
                    linkClass: linkClass,
                }) only %}
            {% endfor %}
        </ul>
    </nav>

    {% if heroImageAsset %}
        {# TODO: Set up the various sizes of hero image #}
        <style type="text/css">
            .Hero {
                background-image: url("{{ heroImageAsset.getUrl({
                    width: 1000
                }) }}");
            }
        </style>
    {% endif %}

    <div class="Hero">
        {% if heroHeading %}
            <h1 class="Hero__Heading">
                {{ heroHeading|typeset }}
            </h1>
            {% if heroSubheading %}
                {{ heroSubheading|typeset }}
            {% endif %}
        {% endif %}
    </div>
</header>
