.LeadershipListing__Inner {
    padding: 80px 50px;
}

.LeadershipListing__PositionSectionTitle {
    font-size: 40px;
}

.LeadershipListing__LeaderPhoto {
    float: left;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-top: 4px;
}
