server {
    listen 80;
    listen [::]:80;
    server_name localhost;

    # Allow large file uploads
    client_max_body_size 500m;

    include /etc/nginx/conf.d/proxyheaders.conf;

    location /_next {
        proxy_pass ${WEB_PROXY};
        break;
    }
    location /healthcheck {
        proxy_pass ${WEB_PROXY};
        break;
    }

    location / {
        proxy_pass ${CRAFT_PROXY};
        break;
    }
}
