@tailwind base;
@tailwind components;
@tailwind utilities;

[type=text],
[type=button] {
    -webkit-appearance: none;
}

.max-w-1800px {
    max-width: 1800px;
}

.text-xxs {
    font-size: 0.625rem;
}
