.BasicBlock__Inner {
    padding: 120px 60px;
}

.BasicBlock__Heading {
    font-size: 50px;
}

.BasicBlock__SubHeading {
    font-size: 40px;
}

.BasicBlock__Body,
.BasicBlock__Body p {
    font-size: 20px;
}
