.BasicBlock__Inner {
    padding: 80px 50px;
}

.BasicBlock__Heading {
    font-size: 40px;
}

.BasicBlock__SubHeading {
    font-size: 30px;
}

.BasicBlock__SubHeading--IsSmall {
    font-size: 18px;
}
