.Filters__FilterList {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Filters__FilterItem {
    width: calc(50% - 10px);
}

.Filters__FilterItem--IsActions {
    width: 100%;
}
