{% extends 'Http/_Infrastructure/_MembersLayout.twig' %}

{% block membersContent %}
    <div class="p-2 sm:p-10">
        {% if pagination %}
            <div class="pb-2">
                {{ pagination }}
            </div>
        {% endif %}
        <div class="p-4 lg:px-20 lg:py-10 bg-gray-100 rounded-lg">
            {% for audioPlayer in audioPlayers %}
                <div class="{% if not loop.last %}pb-12{% endif %}">
                    {{ audioPlayer }}
                </div>
            {% endfor %}
        </div>
        {% if pagination %}
            <div class="pt-2">
                {{ pagination }}
            </div>
        {% endif %}
    </div>
{% endblock %}
