.MapBlock__Content,
.MapBlock__Map {
    display: inline-block;
    padding: 80px 30px;
    width: 50%;
    vertical-align: middle;
}

.MapBlock__Heading {
    font-size: 50px;
}

.MapBlock__SubHeading {
    font-size: 40px;
    padding-bottom: 54px;
}

.MapBlock__Address {
    padding-bottom: 54px;
}

.MapBlock__DirectionsButtonWrapper {
    padding-top: 54px;
}

.MapBlock__Address,
.MapBlock__Body,
.MapBlock__Body p {
    font-size: 20px;
}
