.MapBlock__Content,
.MapBlock__Map {
    padding: 120px 40px;
}

.MapBlock__Heading {
    font-size: 60px;
}

.MapBlock__SubHeading {
    font-size: 50px;
    padding-bottom: 90px;
}

.MapBlock__Address {
    padding-bottom: 90px;
}

.MapBlock__DirectionsButtonWrapper {
    padding-top: 90px;
}

.MapBlock__Address,
.MapBlock__Body,
.MapBlock__Body p {
    font-size: 26px;
}

.MapBlock__Map .GoogleMap {
    height: 600px;
}
