.MapBlock__Content {
    padding-bottom: 60px;
    padding-top: 60px;
}

.MapBlock__Heading {
    font-size: 40px;
}

.MapBlock__SubHeading {
    font-size: 30px;
}

.MapBlock__Map .GoogleMap {
    height: 450px;
}
