.SiteFooter {
    background-color: var(--bronze);
    color: var(--white);
    font-family: var(--HeadingFont);
    font-size: 11px;
    min-height: 70px;
    padding: 15px;
    position: relative;
    text-align: center;
}

.SiteFooter a {
    color: var(--white);
    text-decoration: none;
}

.SiteFooter a:hover,
.SiteFooter a:focus {
    color: var(--goldenrod);
}

.SiteFooter__Info,
.SiteFooter__Credits {
    margin-bottom: 10px;
}
