/*.SiteFooter__Info {
    border: 1px solid white;
}*/

.SiteFooter__Credits {
    left: 30px;
    position: absolute;
    text-align: left;
    top: 30px;
}

.SiteFooter__Copyright {
    position: absolute;
    right: 30px;
    text-align: right;
    top: 30px;
}
