{% extends "_core/LayoutMaster" %}

{# Variables #}
{% set shouldCache = shouldCache|default(true) %}
{% set heroHeading = heroHeading|default(null) %}
{% set entries = entries|default({}) %}
{% set pagination = pagination|default(null) %}

{% block content %}
    <section class="GalleryShowcase">
        <div class="GalleryShowcase__Inner">
            <div class="GalleryShowcase__Galleries">
                {% for entry in entries %}
                    {% include '_partials/GalleryShowcase' with {
                        entry: entry
                    } only %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% if pagination %}
        <div class="PaginationWrapper">
            {% include '_partials/Pagination' with {
                pagination: pagination
            } %}
        </div>
    {% endif %}
{% endblock %}
