{% extends 'Http/_Infrastructure/_Skeleton.twig' %}

{% block skeletonContent %}
    {% block content %}
        <div class="p-10">
            <div class="border-4 border-dashed border-gray-200 rounded-lg h-96"></div>
        </div>
    {% endblock %}
{% endblock %}
