{% extends "_core/LayoutMaster.twig" %}

{# Variables #}
{% set noIndex = noIndex|default(false) %}
{% set metaTitle = metaTitle|default(null) %}
{% set metaDescription = metaDescription|default(null) %}
{% set shareImage = shareImage|default(null) %}
{% set heroHeading = heroHeading|default(null) %}
{% set heroImageAsset = activeSeries|default(null) %}
{% set entry = entry|default(null) %}
{% set backLink = backLink|default(null) %}
{% set backLinkText = backLinkText|default('back') %}

{% block content %}
    <section class="StandardEntry">
        <div class="StandardEntry__Inner">
            <div class="StandardEntry__ContentWrapper">
                {% if backLink %}
                    <div class="StandardEntry__ContentItem StandardEntry__ContentItem--HasStandardPadding">
                        <a href="{{ backLink }}">&laquo; {{ backLinkText|typeset }}</a>
                    </div>
                {% endif %}
                <div class="StandardEntry__ContentItem StandardEntry__ContentItem--HasStandardPadding">
                    <div class="StandardEntry__Headings">
                        <h2 class="StandardEntry__Heading">
                            {{ entry.title|typeset }}
                        </h2>
                        <h3 class="StandardEntry__SubHeading">
                            {{ entry.postDate|date('F j, Y') }}
                        </h3>
                    </div>
                </div>
                {% include '_entryBuilder/_include.twig' with {
                    fieldArray: entry.entryBuilder.all(),
                } only %}
            </div>
        </div>
    </section>
{% endblock %}
