{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entries \craft\elements\Entry[] #}

{% extends "_core/LayoutMaster.twig" %}

{# Variables #}
{% set noIndex = noIndex|default(false) %}
{% set metaTitle = metaTitle|default(null) %}
{% set metaDescription = metaDescription|default(null) %}
{% set shareImage = shareImage|default(null) %}
{% set heroHeading = heroHeading|default(null) %}
{% set activeSpeaker = activeSpeaker|default(null) %}
{% set activeSeries = activeSeries|default(null) %}
{% set entries = entries|default({}) %}
{# @var pagination array #}
{% set pagination = pagination|default(null) %}
{% set showFilters = showFilters ?? true %}

{% set speakers = craft.users.group('speakers').orderBy('lastname asc').all() %}
{% set seriesList = craft.categories.group('messageSeries').orderBy('title asc').all() %}

{# Primary content #}
{% block content %}
    <div class="BasicBlock">
        <div class="BasicBlock__Inner">
            <div class="MessageList">
                <div class="MessageList__Inner">
                    {% if not entries|length %}
                        <section class="BasicBlock BasicBlock--HasOption-centerAlignBlock">
                            <div class="BasicBlock__Inner">
                                <div class="BasicBlock__Headings">
                                    <div class="BasicBlock__HeadingsInner">
                                        <h2 class="BasicBlock__Heading">
                                            No Messages
                                        </h2>
                                    </div>
                                </div>
                                <div class="BasicBlock__Content">
                                    <div class="BasicBlock__Body">
                                        <p>
                                            {% if activeSpeaker %}
                                                {% set speaker = craft.users.slugField(activeSpeaker).one() %}
                                                {% if speaker %}
                                                    {% filter typeset %}{% if speaker.titleOrHonorific %}{{ speaker.titleOrHonorific }} {% endif %}{{ speaker.fullName }}{% endfilter %} currently has no messages.
                                                {% else %}
                                                    There are currently no messages.
                                                {% endif %}
                                            {% elseif activeSeries %}
                                                {% set category = craft.categories.slug(activeSeries).one() %}
                                                {% if category %}
                                                    {{ category.title|typeset }} currently has no messages.
                                                {% else %}
                                                    There are currently no messages.
                                                {% endif %}
                                            {% else %}
                                                There are currently no messages.
                                            {% endif %}
                                            Please check back soon!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% else %}
                        {% for entry in entries %}
                            <div class="MessageList__Item">
                                {% include '_partials/Message.twig' with {
                                    internal: true,
                                    includeSeries: false,
                                    entry: entry
                                } only %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if pagination %}
                        {% include '_partials/Pagination.twig' with {
                            pagination: pagination,
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
