{% extends "_core/LayoutHtmlWrapper" %}

{% block layoutContent %}
    {% include '_partials/SiteHeader' %}

    <main class="SiteMain">
        {{ block('content') }}
    </main>

    {% include '_partials/SiteFooter' %}
{% endblock %}
