{% extends "_core/LayoutHtmlWrapper.twig" %}

{% block layoutContent %}
    {% include '_partials/SiteHeader.twig' %}

    <main class="SiteMain">
        {% include '_partials/BreadCrumbs.twig' %}
        {{ block('content') }}
    </main>

    {% include '_partials/SiteFooter.twig' %}
{% endblock %}
