{% extends "_core/LayoutMaster.twig" %}

{% set errorMessage = getStorage('errorMessage')|default(null) %}

{% block content %}
    <section class="ContactForm">
        <div class="ContactForm__Inner">
            {% if errorMessage %}
                <div class="ContactForm__ErrorMessage">
                    {{ errorMessage|typeset }}
                </div>
            {% endif %}
            <form method="post" class="ContactForm__Form">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="dev/members-log-in/log-in">
                <input type="hidden" name="return" value="{{ return|default('/members') }}">
                <div class="ContactForm__InputWrapper ContactForm__InputWrapper--IsHalfWidth">
                    <label for="email" class="label ContactForm__InputLabel">Email Address</label>
                    <input type="text" name="email" class="input ContactForm__Input" id="email" required>
                </div>
                <div class="ContactForm__InputWrapper ContactForm__InputWrapper--IsHalfWidth">
                    <label for="password" class="label ContactForm__InputLabel">Password</label>
                    <input type="password" name="password" class="input ContactForm__Input" id="password" required>
                </div>
                <div class="ContactForm__InputWrapper ContactForm__InputWrapper--IsRightAligned">
                    <button
                        type="submit"
                        class="button"
                        data-value="Submit"
                    >
                        Log In
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
