{% set musicDownload = musicDownload ?? '' %}
{% set practiceTracks = practiceTracks ?? [] %}

{% extends "_core/LayoutMaster.twig" %}

{% set uniqueId = uniqueId() %}

{% block content %}
    <section
        class="BasicBlock BasicBlock--{{ uniqueId }} BasicBlock--HasOption-noTopPadding BasicBlock--HasOption-noBottomPadding"
    >
        <div class="BasicBlock__Inner">
            <div class="BasicBlock__Content">
                <div class="BasicBlock__Body">
                    <p>The follow tools and resources are provided to you as members, attendees, or friends of St. Mark to help you learn and sing the hymns and psalms we learn every month at our Monthly hymn sing. We hope they are a blessing to you.</p>
                    {% if musicDownload %}
                        <br><br>
                        <h3 class="BasicBlock__SubHeading BasicBlock__SubHeading--IsSmall">
                            Music sheet download:
                        </h3>
                        <div class="BasicBlock__CTAS">
                            <a
                                href="{{ musicDownload }}"
                                class="BasicBlock__CTA button"
                            >
                                Download Music Sheet
                            </a>
                        </div>
                    {% endif %}
                    <br><br>
                    <h3 class="BasicBlock__SubHeading BasicBlock__SubHeading--IsSmall">
                        Practice Tracks:
                    </h3>
                    <p>The following practice tracks of the full song mix and the various parts will aid you in learning and strengthening your singing of this piece.</p>
                    {% for track in practiceTracks %}
                        <div class="BasicBlock__CTAS">
                            <a
                                href="{{ track.href }}"
                                class="BasicBlock__CTA button"
                            >
                                {{ track.content|typeset }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
