{% extends "_core/LayoutMaster.twig" %}

{% block content %}
    <section class="StandardListing">
        <div class="StandardListing__Inner">
            <div class="StandardListing__Listings">
                {% for item in listingItems %}
                    <div class="StandardListing__Listing">
                        <div class="StandardListingItem">
                            <div class="StandardListingItem__Content">
                                <div class="StandardListingItem__TitleArea">
                                    <div class="StandardListingItem__Title">
                                        <a href="{{ item.href }}">{{ item.title|typeset }}</a>
                                    </div>
                                </div>
                                {% if item.body is defined and item.body %}
                                    <div class="StandardListingItem__Body">
                                        {{ item.body|typeset }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
