{% extends "_core/LayoutMaster.twig" %}

{% block content %}
    <section class="StandardEntry">
        <div class="StandardEntry__Inner">
            <div class="StandardEntry__ContentItem StandardEntry__ContentItem--HasStandardPadding">
                <div class="StandardEntry__Headings">
                    <h2 class="StandardEntry__Heading">
                        Uh oh!
                    </h2>
                </div>
            </div>
            <div class="StandardEntry__ContentItem StandardEntry__ContentItem--HasStandardPadding">
                <div class="StandardEntry__BasicEntryBlock">
                    <div class="BasicEntryBlock">
                        <div class="BasicEntryBlock__Body">
                            There are currently no entries available. Please check back soon!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
