{% extends "_core/LayoutMaster.twig" %}

{# Variables #}
{% set heroHeading = heroHeading|default(null) %}
{% set entries = entries|default({}) %}

{% block content %}
    <section class="StandardListing">
        <div class="StandardListing__Inner">
            {% if not entries|length %}
                <section class="BasicBlock BasicBlock--HasOption-centerAlignBlock">
                    <div class="BasicBlock__Inner">
                        <div class="BasicBlock__Headings">
                            <div class="BasicBlock__HeadingsInner">
                                <h2 class="BasicBlock__Heading">
                                    No Results
                                </h2>
                            </div>
                        </div>
                        <div class="BasicBlock__Content">
                            <div class="BasicBlock__Body">
                                <p>There are currently no results. Please check back soon!</p>
                            </div>
                        </div>
                    </div>
                </section>
            {% else %}
                <div class="StandardListing__Listings">
                    {% for entry in entries %}
                        <div class="StandardListing__Listing">
                            <div class="StandardListingItem">
                                <div class="StandardListingItem__Content">
                                    <div class="StandardListingItem__TitleArea">
                                        <div class="StandardListingItem__Title">
                                            <a href="{{ entry.url }}">{{ entry.title|typeset }}</a>
                                        </div>
                                    </div>
                                    {% set theBody = entry.body|striptags|trim %}
                                    <div class="StandardListingItem__Body">
                                        {% if theBody|length > 1 %}
                                            <p>{{ theBody|typeset|truncate(300) }}</p>
                                        {% endif %}
                                        <a href="{{ entry.url }}">Go to download &raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if pagination %}
                    <div class="PaginationWrapper">
                        {% include '_partials/Pagination.twig' with {
                            pagination: pagination
                        } %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}
