{% extends "_core/LayoutMaster.twig" %}

{% block content %}
    <section class="StandardEntry">
        <div class="StandardEntry__Inner">
            <div class="StandardEntry__ContentWrapper">
                <div class="StandardEntry__ContentItem StandardEntry__ContentItem--HasStandardPadding">
                    <div class="StandardEntry__Headings">
                        <h2 class="StandardEntry__Heading">
                            {{ entry.title|typeset }}
                        </h2>
                    </div>
                </div>
                {% if entry.body %}
                    <div class="StandardEntry__ContentItem StandardEntry__ContentItem--HasStandardPadding">
                        <div class="StandardEntry__BasicEntryBlock">
                            <div class="BasicEntryBlock">
                                <div class="BasicEntryBlock__Body">
                                    {{ entry.body|typeset }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="StandardEntry__ContentItem StandardEntry__ContentItem--HasStandardPadding">
                    <div class="StandardEntry__BasicEntryBlock">
                        <div class="BasicEntryBlock">
                            <div class="BasicEntryBlock__Body" style="margin-top: 40px;">
                                {% for resource in entry.resourceDownloads %}
                                    {% set asset = resource.file.one() %}
                                    {% if asset %}
                                        <a
                                            href="{{ asset.getUrl() }}"
                                            class="DocumentDownloadIcon"
                                            style="display: inline-block;
                                                   margin-bottom: 20px;
                                                   margin-right: 10px;
                                                   max-width: 250px;
                                                   vertical-align: top;
                                                   text-align: center;"
                                            download
                                        >
                                            <span
                                                class="DocumentDownloadIcon__Icon"
                                                style="display: block;
                                                   width: 100px;
                                                   height: 100px;
                                                   margin: 0 auto;
                                                   color: black;"
                                            >
                                                {% include '_svg/document.svg' only %}
                                            </span>
                                            <span
                                                class="DocumentDownloadIcon__Text"
                                                style="display: block;
                                                       margin-top: 10px;
                                                       line-height: 1.3em;"
                                            >
                                                {{ asset.filename }}
                                            </span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
