{% extends "_core/LayoutMaster" %}

{# Static caching #}
{% set shouldCache = true %}

{# No Indexing #}
{% set noIndex = entry.searchEngineIndexing != 1 %}

{# Meta Title #}
{% if craft.app.request.getSegment(1) %}
    {% set metaTitle = entry.seoTitle|default(entry.title) %}
{% else %}
    {% set metaTitle = entry.seoTitle %}
{% endif %}

{# Meta description #}
{% set metaDescription = entry.seoDescription %}

{# Custom share image #}
{% set shareImageAsset = entry.customShareImage.one() %}
{% if shareImageAsset %}
    {% set shareImage = shareImageAsset.getUrl({
        width: min(1000, shareImageAsset.width)
    }) %}
{% endif %}

{# Hero Image #}
{% set heroImageAsset = entry.heroImage.one() %}

{# Hero heading #}
{% set heroHeading = entry.heroHeading|default(entry.title) %}

{# Hero subheading #}
{% set heroSubheading = entry.heroSubheading %}

{# Primary content #}
{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut odio ut tortor viverra suscipit nec eu quam. Aliquam nec facilisis augue. Suspendisse eu maximus tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus ac tincidunt nulla. Suspendisse potenti. Suspendisse et lacus non erat pharetra euismod. Mauris ullamcorper venenatis posuere. Integer suscipit enim enim, ac iaculis mi bibendum vitae. Praesent lobortis pretium risus, quis ultricies nisl cursus sit amet.</p>

    <p>Mauris dignissim sagittis justo in faucibus. Suspendisse lobortis accumsan eros, sed varius nibh condimentum eget. Fusce ac mauris ut elit elementum convallis non ut eros. Quisque sed eros pretium nisi porttitor fringilla. Curabitur at erat non ex lobortis pellentesque at sit amet lorem. Nulla ullamcorper nulla sit amet erat interdum, at tempus diam accumsan. Aenean accumsan, tortor vel luctus auctor, leo arcu vestibulum nulla, vitae ultricies ligula lorem quis turpis. Etiam eget turpis nisi. Mauris vehicula quis sapien vel fringilla. Vivamus enim enim, dictum at nibh et, feugiat venenatis nibh.</p>

    <p>Morbi imperdiet sollicitudin lacus in bibendum. In hac habitasse platea dictumst. Donec tristique metus id est accumsan malesuada. Curabitur dignissim nulla enim, mollis auctor sem sodales vitae. Aliquam molestie magna eu imperdiet vehicula. Vivamus eu varius erat, eu lobortis ante. Ut eget tortor imperdiet, sagittis sem non, efficitur ante. Integer nibh justo, feugiat ac augue id, mattis semper neque. Aliquam augue lacus, rhoncus non risus nec, malesuada accumsan est. Ut ut commodo neque, non ullamcorper enim. Proin maximus, orci sit amet porta accumsan, massa turpis mattis lorem, aliquet lobortis lacus nisi id nunc. Nulla elementum nulla felis, quis ornare massa placerat et. Maecenas congue condimentum tincidunt. Phasellus augue eros, bibendum id ornare eu, feugiat eget augue.</p>

    <p>Nam nec enim congue, elementum ante et, lobortis mi. Nunc aliquam, justo vel vehicula ultricies, nisi magna pulvinar nulla, eget consequat lectus massa lacinia elit. Phasellus vehicula urna elit, quis suscipit mauris ultricies vitae. Donec eget nibh malesuada massa sollicitudin elementum. Nunc eu ex vitae massa vehicula sollicitudin et at nunc. Cras vitae malesuada quam. In quis magna quis urna pharetra pulvinar eu et metus. Phasellus eu ligula vel ex porttitor eleifend condimentum in nunc. Vivamus nec eros a elit consequat venenatis vitae a augue.</p>

    <p>Ut ante dui, lacinia vel viverra quis, dignissim sit amet orci. Proin consectetur mollis justo vitae viverra. Nullam congue, sapien in cursus elementum, tortor sapien fermentum ex, in elementum nisi diam ac leo. In quis orci vitae dui interdum molestie. Suspendisse et ante vehicula, fringilla sem tristique, egestas justo. Praesent congue ligula finibus urna rutrum, a aliquam ex viverra. Integer laoreet, est quis ullamcorper eleifend, magna lacus mattis leo, vitae laoreet ipsum massa placerat nunc. Proin eget tortor maximus, elementum ligula vitae, viverra urna. Aenean tristique tortor et molestie bibendum. Curabitur ac quam ac massa tincidunt ullamcorper a ut dui. Donec dictum rutrum felis, ut molestie quam laoreet sit amet. Fusce sit amet dolor sit amet sapien rhoncus tincidunt.</p>
{% endblock %}
