.FeaturedSermonSeries:before {
    background-image: url('/assets/img/bible-on-wood-table-1800.jpg');
}

.FeaturedSermonSeries__SeriesTitle {
    margin-bottom: 50px;
}

.FeaturedSermonSeries__Body {
    margin-bottom: 50px;
}
