.FeaturedSermonSeries:before {
    background-image: url('/assets/img/bible-on-wood-table-1000.jpg');
}

.FeaturedSermonSeries__Inner {
    padding: 40px 14px;
}

.FeaturedSermonSeries__Title {
    margin-bottom: 16px;
}

.FeaturedSermonSeries__SeriesTitle {
    margin-bottom: 30px;
}

.FeaturedSermonSeries__Body {
    margin-bottom: 30px;
}

.FeaturedSermonSeries__LatestSermonTitle {
    margin-bottom: 16px;
}

.FeaturedSermonSeries__LatestSermonContainer {
    margin-bottom: 50px;
}
