{% set fieldArray = fieldArray|default([]) %}
{% set pageOptions = pageOptions|default([]) %}
{% set showSubnav = false %}

{% for option in pageOptions if option.value == 'showSubnav' %}
    {% set showSubnav = true %}
{% endfor %}

{% for field in fieldArray %}
    {% if showSubnav %}
    <div class="PageWithSubNav">
        <nav
            class="PageWithSubNav__Nav JSPageSubNav"
            data-open-class="PageWithSubNav__Nav--IsOpen"
        >
            <span class="PageWithSubNav__MobileExpander JSPageSubNav__MobileExpander">
                <span class="PageWithSubNav__MobileExpanderText JSPageSubNav__ActiveText">
                    About St. Mark
                </span>
                <span class="PageWithSubNav__MobileExpanderIcon">
                    {% include '_svg/angle-down' %}
                </span>
            </span>
            <ul class="PageWithSubNav__NavList JSPageSubNav__List">
                <li class="PageWithSubNav__NavListItem">
                    <a
                        href="#"
                        class="PageWithSubNav__NavListLink PageWithSubNav__NavListLink--IsActive PageWithSubNav__NavListLink--IsPrimary JSPageSubNav__Link"
                        data-active-class="PageWithSubNav__NavListLink--IsActive"
                    >
                        About St. Mark
                    </a>
                </li>
                <li class="PageWithSubNav__NavListItem">
                    <a
                        href="#"
                        class="PageWithSubNav__NavListLink JSPageSubNav__Link"
                        data-active-class="PageWithSubNav__NavListLink--IsActive"
                    >
                        Mission Statement
                    </a>
                </li>
                <li class="PageWithSubNav__NavListItem">
                    <a
                        href="#"
                        class="PageWithSubNav__NavListLink JSPageSubNav__Link"
                        data-active-class="PageWithSubNav__NavListLink--IsActive"
                    >
                        Liturgy and Sacraments
                    </a>
                </li>
                <li class="PageWithSubNav__NavListItem">
                    <a
                        href="#"
                        class="PageWithSubNav__NavListLink JSPageSubNav__Link"
                        data-active-class="PageWithSubNav__NavListLink--IsActive"
                    >
                        Leadership
                    </a>
                </li>
                <li class="PageWithSubNav__NavListItem">
                    <a
                        href="#"
                        class="PageWithSubNav__NavListLink JSPageSubNav__Link"
                        data-active-class="PageWithSubNav__NavListLink--IsActive"
                    >
                        Government
                    </a>
                </li>
                <li class="PageWithSubNav__NavListItem">
                    <a
                        href="#"
                        class="PageWithSubNav__NavListLink JSPageSubNav__Link"
                        data-active-class="PageWithSubNav__NavListLink--IsActive"
                    >
                        Membership
                    </a>
                </li>
            </ul>
        </nav>
        <div class="PageWithSubNav__Content">
    {% endif %}
        {% include '_standardPageBuilder/' ~ field.type.handle with {
            field: field,
        } %}
    {% if showSubnav %}
        </div>
    </div>
    {% endif %}
{% endfor %}
