{% set field = field|default(false) %}

{% set series = field.seriesToDisplay.one() %}
{% set latestSermonInSeries = null %}

{% if not series %}
    {% set latestSermonInSeries = craft.entries.section('messages').messageSeries(':notempty:').one() %}
    {% set series = latestSermonInSeries.messageSeries.one() %}
{% endif %}

{% if not latestSermonInSeries %}
    {% set latestSermonInSeries = craft.entries.section('messages').relatedTo({
        targetElement: series,
        field: 'messageSeries'
    }).one() %}
{% endif %}

<section class="FeaturedSermonSeries">
    <div class="FeaturedSermonSeries__Inner">
        <div class="FeaturedSermonSeries__Title">Featured Sermon Series</div>
        <div class="FeaturedSermonSeries__SeriesTitle">
            {{ series.title|typeset }}
        </div>
        {% if series.shortDescription %}
            <div class="FeaturedSermonSeries__Body">
                {{ series.shortDescription|typeset }}
            </div>
        {% endif %}
        {% if latestSermonInSeries %}
            <div class="FeaturedSermonSeries__LatestSermon">
                <div class="FeaturedSermonSeries__LatestSermonTitle">
                    Latest sermon in series:
                </div>
                <div class="FeaturedSermonSeries__LatestSermonContainer">
                    {% include '_partials/Message.twig' with {
                        entry: latestSermonInSeries
                    } only %}
                </div>
            </div>
        {% endif %}
        <div class="FeaturedSermonSeries__LinkOut">
            <a href="/media/messages/series/{{ series.slug }}" class="button FeaturedSermonSeries__LinkOutButton">
                All Sermons in Series &raquo;
            </a>
        </div>
    </div>
</section>
