{% set field = field|default(null) %}

<section class="GalleryShowcase">
    <div class="GalleryShowcase__Inner">
        {% set galleryEntries = craft.entries.section('galleries').limit(field.numberToShowcase).all() %}
        <div class="GalleryShowcase__Galleries">
            {% for entry in galleryEntries %}
                {% include '_partials/GalleryShowcase' with {
                    entry: entry
                } only %}
            {% endfor %}
        </div>
    </div>
</section>
