{% set leadership = {} %}

{% set positionField = craft.app.fields.getFieldByHandle('leadershipPosition') %}

{% for position in positionField.options if position.value != '' %}
    {% set leadership = leadership|merge({
        (position.label): []
    }) %}
{% endfor %}

{% for user in craft.users.group('leadership').orderBy('lastname asc').all() %}
    {% set item = leadership[user.leadershipPosition.label] %}
    {% set item = item|merge([user]) %}
    {% set leadership = leadership|merge({
        (user.leadershipPosition.label): item
    }) %}
{% endfor %}

<section class="LeadershipListing">
    <div class="LeadershipListing__Inner">
        {% for position,leaders in leadership if leaders|length > 0 %}
            <div class="LeadershipListing__PositionSection">
                <h2 class="LeadershipListing__PositionSectionTitle">
                    {{ position|typeset }}{% if leaders|length > 1 %}s{% endif %}
                </h2>
                {% for leader in leaders %}
                    <div class="LeadershipListing__Leader">
                        {# TODO: get photo from model #}
                        <div class="LeadershipListing__LeaderPhoto"></div>
                        <div class="LeadershipListing__LeaderContent">
                            <div class="LeadershipListing__LeaderTitle">
                                {% filter typeset %}{% if leader.titleOrHonorific %}{{ leader.titleOrHonorific }} {% endif %}{{ leader.fullName }}{% endfilter %}
                            </div>
                            {% if leader.bio %}
                                <div class="LeadershipListing__Bio">
                                    {{ leader.bio|typeset }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
