<section
    class="BasicBlock BasicBlock--HasOption-centerAlignBlock"
>
    <div class="BasicBlock__Inner">
        {% if field.heading or field.subheading %}
            <div class="BasicBlock__Headings">
                <div class="BasicBlock__HeadingsInner">
                    {% if field.heading %}
                        <h2 class="BasicBlock__Heading">
                            {{ field.heading|typeset }}
                        </h2>
                    {% endif %}
                    {% if field.subheading %}
                        <h3 class="BasicBlock__SubHeading">
                            {{ field.subheading|typeset }}
                        </h3>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="BasicBlock__Content">
            <div class="BasicBlock__Body">
                <p>
                    {% for link in field.links %}
                        <a href="{{ link.link }}" target="_blank">{{ link.text|typeset }}</a><br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</section>
