<div class="bg-gold bg-crimson bg-crimson-dark bg-goldenrod bg-saddle-brown-lightened-2 bg-saddle-brown-lightened-1 bg-saddle-brown bg-bronze-lightened-2 bg-bronze-lightened-1 bg-bronze enupal-stripe-form form-group enupal-hidden heading enupal-input-icon enupal-stripe-button"></div>
<i>tmp</i>
<input>
<button>tmp</button>
<div class="choices-container-inner">
    <div class="choices-input">temp</div>
    <div class="choices__list choices__list--multiple">
        <div class="choices__item">temp</div>
    </div>
    <div class="choices" data-type="select-multiple">
        <div class="choices__button"></div>
    </div>
    <div class="choices" data-type="text">
        <div class="choices__button"></div>
    </div>
</div>
