:root {
    --white: #fff;
    --lightGray: #e6e6e6;
    --gray: #acacac;
    --darkGray: #6c6c6c;
    --black: #000;
    --gold: #f3c213;
    --crimson: #c31132;
    --crimsonDark: #a41130;
    --goldenrod: #df9c17;
    --saddleBrown: #7b6014;
    --bronze: #392c08;
}
