:root {
    --white: #fff;
    --lightGray: #e6e6e6;
    --gray: #acacac;
    --darkGray: #6c6c6c;
    --black: #000;
    --gold: #f3c213;
    --crimson: #c31132;
    --crimsonDark: #a41130;
    --goldenrod: #df9c17;
    --saddleBrown-lightened-2: #9b7e15;
    --saddleBrown-lightened-1: #8b6e15;
    --saddleBrown: #7b6014;
    --bronze-lightened-2: #594b08;
    --bronze-lightened-1: #493a08;
    --bronze: #392c08;
}
