:root {
    --HeadingFont: 'Montserrat', sans-serif;
    --HeadingFontRegularWeight: 400;
    --HeadingFontBoldWeight: 700;

    --BodyFont: 'Crimson Text', serif;
    --BodyFontRegularWeight: 400;
    --BodyFontBoldWeight: 700;
}
