{% extends '@app/Http/Response/Media/Messages/MessagesLayout.twig' %}

{% block messagesConent %}
    <div class="border-4 border-dashed border-gray-200 rounded-lg text-center px-4 p-14">
        No results found.
    </div>
{% endblock %}
