.PageWithSubNav__Nav {
    width: 400px;
}

.PageWithSubNav__Content {
    width: calc(100% - 400px);
}

.PageWithSubNav__NavList {
    margin-bottom: 100px;
    margin-top: 100px;
}

.PageWithSubNav__NavListLink {
    font-size: 22px;
    padding: 22px 20px;
}

.PageWithSubNav__NavListLink--IsPrimary {
    font-size: 30px;
}

.PageWithSubNav__Content {
    margin-top: -66px;
}
