.PageWithSubNav__Nav {
    width: 550px;
}

.PageWithSubNav__Content {
    width: calc(100% - 550px);
}

.PageWithSubNav__NavList {
    margin-bottom: 120px;
    margin-top: 120px;
}

.PageWithSubNav__NavListLink {
    font-size: 24px;
}

.PageWithSubNav__NavListLink--IsPrimary {
    font-size: 36px;
}

.PageWithSubNav__Content {
    margin-top: -46px;
}
