.Hero {
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    position: relative;
}

.Hero:before {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.Hero__Heading {
    color: var(--white);
    font-size: 30px;
    margin: 0;
    padding: 70px 20px;
    position: relative;
    z-index: 2;
}
