.SiteNav {
    height: 58px;
}

.SiteNav__Logo {
    height: 80px;
    width: 220px;
}

.SiteNav__Logo:before {
    height: 52px;
    margin-left: 15px;
    width: 190px;
}

.SiteNav__Link {
    border-top: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
