.Gallery--IsFullScreen {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999999999;
}

.Gallery--IsFullScreen .Gallery__Inner {
    height: 100vh;
    padding: 0;
    max-width: 100vw;
}

.Gallery--IsFullScreen .Gallery__NavFullScreen {
    display: none;
}

.Gallery--IsFullScreen .Gallery__NavCloseFullScreen {
    display: block;
}

.Gallery--IsFullScreen .Gallery__Item {
    padding-top: 0;
    height: calc(100vh - 108px);
}
